# -------------------------------
# Git
# -------------------------------
.git
.gitignore

# -------------------------------
# Python
# -------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# -------------------------------
# Django
# -------------------------------
db.sqlite3
app/db/db.sqlite3
app/assets/
app/media/

# -------------------------------
# Environment secrets (VERY IMPORTANT)
# -------------------------------
.env*

# -------------------------------
# Docker (keep only runtime files)
# -------------------------------
docker-compose.yml

# -------------------------------
# Editor/OS
# -------------------------------
.vscode/
.idea/
.DS_Store

# -------------------------------
# Logs / temp
# -------------------------------
*.log
tmp/