# -------------------------------
# Python environments
# -------------------------------
.venv/
venv/

# -------------------------------
# Environment variables (secrets)
# -------------------------------
.env*

# -------------------------------
# Python cache / bytecode
# -------------------------------
**/__pycache__/
*.py[cod]
*$py.class

# -------------------------------
# Editor / IDE files
# -------------------------------
**/.vscode/
.idea/

# -------------------------------
# Git & CI (not needed in image)
# -------------------------------
.git
.github
.gitignore

# -------------------------------
# Database files
# -------------------------------
db.sqlite3
*.sqlite3
app/db/db.sqlite3

# -------------------------------
# User uploads (media)
# -------------------------------
app/media/

# -------------------------------
# Logs & temp
# -------------------------------
*.log
tmp/

# -------------------------------
# OS files
# -------------------------------
.DS_Store
Thumbs.db

# -------------------------------
# Dev-only files
# -------------------------------
docker-compose.yml